{% extends 'base.html' %}

{% block title %} BNX Employee Portal | All Employees {% endblock title %}

{% block content %}
<div>
    <table>
        <tr>
            <th>Employee Code</th>
            <th>Employee Name</th>
            <th>Employee Department</th>
            <th>Employee Designation</th>
        </tr>
        {% for employee in employees %}
        <tr>
            <td>{{employee.employee_code}}</td>
            <td>{{employee.first_name}} {{employee.last_name}}</td>
            <td>{{employee.department}}</td>
            <td>{{employee.designation}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock content %}