{% extends 'base.html' %}

{% block title%} BNX Employee Portal | Home {% endblock title%}

{% block content %}
<div class="grid place-items-center min-h-screen">
    <div>
        <h1 class="text-3xl font-bold mb-5">Welcome to Your BNX Portal</h1>
        <div class="flex justify-around">
            <button class="bg-neutral-700 hover:bg-neutral-800 text-white p-3 rounded shadow">
                <a href="{% url 'add_employee'%}">Add New Employee</a>
            </button>
            <button class="bg-neutral-700 hover:bg-neutral-800 text-white p-3 rounded shadow">
                <a href="{% url 'list_employee'%}">View All Employees</a>
            </button>
        </div>
    </div>
</div>
{% endblock content %}